- @title = "Stundenzettel"
%h2
  Monat:
  = number_to_word(@timesheet.month)+" #{@timesheet.year}"
%h3
  Name:
  = @current_user.fullname
%table{ :class => 'table table-hover' }
  %tr
    %th Tag
    %th gekommen
    %th gegangen
    %th Pause
    %th Stunden
  = render :partial => "entry", :collection => @entries, :locals => { :timesheet => @timesheet }

= form_for(@timesheet) do |f|
  = f.submit "Gekommen", :disabled => !@timesheet.entry_addable?, :class=> 'btn btn-primary'
= link_to "Zurück", timesheets_path